<h1>Tasks#index</h1>

<ul class = "navi">
  <% if params[:action] == "index" %>
    <li class = "selected"> Todo </li>
  <% else %>
    <li> <%= link_to "to Todo List", :tasks %> </li>
  <% end %>

  <% if params[:action] == "done" %>
    <li class = "selected"> Finsh List </li>
  <% else %>
    <li><%= link_to "to Finish List", [:done, :tasks] %></li>
  <% end %>
</ul>

<table class="tasks">
  <col class="name" />
  <col class="due_date" />
  <% @tasks.each do |task| %>
  <tr>
    <td> <%= link_to task.name, task %> </td>
    <td> <%= task.due_date %> </td>
    <td> <%= links_for(task) %> </td>
  </tr>
  <% end %>
</table>

<%= link_to "new task", [:new, :task] %>