<h1> Task Add </h1>
<%= form_for @task do |form| %>
<ur>
  <li> <%= form.label :name, "name" %> <%= form.text_field :name %> </li>
  <li>
    <%= form.label :due_date, "limit" %>
    <%= form.date_select :due_date, :use_month_numbers => true,
      :order => [:year, :month, :day],
      :start_year => Time.current.year,
      :end_year => Time.current.year + 1 %>
  </li>
  <li><%= form.check_box :done %><%= form.label :done, "finish" %></li>
  <li> <%= form.submit "Create Task" %> </li>
  
</ur>
<% end %>